:root {
    /* Color collections */
    --black : #000000
    --white : white;
    --orange : rgb(252, 184, 57);
    --gray : #666666;
    font-family: sans-serif;
    behavior: 'smooth';
}
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 24px;
    font-weight: 500;
}
h2 {
    font-size: 17px;
}
a {
    text-decoration: none;
    color : var(--black);
}
ul,li {
    list-style: none;
}
html,body {
    width: 100%;
    height: 100%;
}
#header {
    width: 100%;
    height: 800px;
    background: url(./images/banner-bg.png) no-repeat center/cover;
}
#nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.2fr 0.2fr 0fr;
    align-items: center;
}
#nav>a:first-child {
    margin : 20px;
}
#nav__bar {
    display: none;
}
.nav__ul {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    font-size: 20px;
}
.nav__ul li {
    margin-left: -100px;
    padding : 5px;
}
.nav__ul li:hover {
    background-color: orange;
}
.nav__call {
    color : var(--orange);
}
.nav__login {
    margin-left: -30px;
    padding-bottom: 5px;
}
.slide-show--container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.header__slide-show:nth-of-type(1) {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    position: absolute;
    top : 50%;
    left : 0;
}
.header__slide-show:nth-of-type(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    position: absolute;
    top : 50%;
    left : 100%;
}
.header__slide-show:nth-of-type(3) {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    position: absolute;
    top : 50%;
    left : 200%;
}
.slide-show--container {
    width: 100%;
    position: relative;
}
.slides {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.slides.animated {
    transition: left 0.5s ease-out;
}
.slideShow {
    width: 100%;
    position: absolute;
    overflow: hidden;
}
#prevBtn, #nextBtn {
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
    background-color: black;
    color : white;
    border-radius: 50%;
    font-size: 3em;
    cursor: pointer;
}
#prevBtn:hover, #nextBtn:hover {
    background-color: yellow;
    border : none;
    color : black;
    transition: all 0.7s;
}
#prevBtn {
    left : 100px;
}
#nextBtn {
    right: 100px;
}
.slideShow__title {
    font-size: 4em;
    margin-top: 50px;
}
.slideShow__content {
    font-size: 1.5em;
    font-weight: 200;
    width: 60%;
    margin: 50px auto;
}
.slideShow__contact {
    margin-top: 330px;
    border: none;
    color : white;
    background-color: rgb(149, 149, 34);
    font-size: 2em;
    border-radius: 8px;
    padding : 5px;
}

/* Services Part */
#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services__title {
    margin-top: 50px;
}
.services__subtitle {
    margin-top: 30px;
    font-weight: 200;
}
.services__boxes {
    width: 70%;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.services__boxes>.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box--title {
    margin-top: 25px;
    font-weight: 700;
}
.box--content {
    width: 80%;
    margin-top: 25px;
    font-weight: 200;
}
.box--read-more {
    margin-top: 30px;
    border: none;
    color : white;
    background-color: var(--orange);
    border-radius: 4px;
    width: 40%;
    height: 50px;
    font-weight: 700;
}
.box--read-more:hover {
    background-color: black;
    transition: all 0.3s;
}

/* About Part */
#about {
    margin-top: 100px;
    background-color: var(--orange);
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__container {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0 auto;
}
.about__left {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
}
.left__title {
    color : white;
    font-size: 30px;
    font-weight: 600;
}
.left__content {
    color : white;
    font-size: 20px;
    font-weight: 300;
}
.left__btn {
    border : none;
    background-color: black;;
    color : white;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}
.left__btn:hover {
    background-color: white;
    color : black;
    font-weight: 700;
    transition: all 0.3s;
}
.about__right {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__right>img {
    max-width: 100%;
}

/* Funiture Part */

#furnitures {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.furnitures__title {
    font-size: 30px;
    font-weight: 400;
}
.furnitures__subtitle {
    margin-top: 20px;
    font-weight: 200;
}
.furnitures__boxes {
    margin-top: 100px;
    width: 70%;
    display: flex;
    justify-content: center;
}
.box__left, .box__right {
    width: 50%;
    height: 500px;
    padding : 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.left--imageDiv {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(./images/img-2.png) no-repeat center/cover;
}
.right--imageDiv {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(./images/img-3.png) no-repeat center/cover;
}

.left--imageDiv>div, .right--imageDiv>div {
    position: absolute;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    top : 50%;
    left : 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    background-color: orange;
    border-radius: 50%;
    opacity: 0;
}
/* 이부분 클릭하면 이동할수있게 자바스크립트에서 수정 */
.left--imageDiv:hover div, .right--imageDiv:hover div {
    opacity: 1;
    cursor: pointer;
    transition: all 0.5s;
} 
.left--title, .right--title {
    margin-top: 20px;
    color : orange;
    font-size: 22px;
    font-weight: 700;
}
.left--content, .right--content {
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
}

/* Who Part */
#who {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./images/bg-1.png);
    color : white;
}
.who__title {
    padding : 80px 0 40px 0;
    font-size: 28px;
    font-weight: 800;
}
.who__subtitle {
    font-weight: 500;
}
.who__content {
    width: 70%;
    margin-top: 40px;
    text-align: center;
}
.who__quote {
    margin:70px 0 50px;
    background-color: black;
    color : white;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 22px;
}

/* Projects Part */
#projects {
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects__title {
    font-size: 32px;
    font-weight: 500;
}
.projects__subtitle {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 300;
}
.projects__slide-show {
    margin : 60px;
    margin-inline: 0;
    width: 1020px;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}
.slide__ul {
    top : 0;
    left : 0;
    position: absolute;
}
.slide__ul.animated {
    transition: left 0.7s;
}
.slide {
    position: absolute;
    width: 320px;
    height: 400px;
    margin-right: 20px;
    float : left;
    overflow: hidden;
}
.slide>a {
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translateY(-50%) translateX(-50%);
    border: 2px solid white;
    color : white;
    padding : 5px;
}
.slide>p {
    position: absolute;
    bottom: 20px;
    font-size: 15px;
    width: 100%;
    text-align: center;
    color : white;
    font-weight: 800;
}
.slide:nth-child(3n+1) {
    background: url(./images/img-4.png) no-repeat center/cover;
}
.slide:nth-child(3n+2) {
    background: url(./images/img-5.png) no-repeat center/cover;
}
.slide:nth-child(3n+3) {
    background: url(./images/img-6.png) no-repeat center/cover;
    margin-right: 0;
}
.clone {
    background: url(./images/img-4.png) no-repeat center/cover;
}
.noneslide_ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    display: none;
}
.noneslide_li {
    position: relative;
}
.noneslide_li:nth-child(1) {
    width: 100%;
    height: 32%;
    background: url(./images/img-4.png) no-repeat center/cover;
}
.noneslide_li:nth-child(2) {
    width: 100%;
    height: 32%;
    background: url(./images/img-5.png) no-repeat center/cover;
}
.noneslide_li:nth-child(3) {
    width: 100%;
    height: 32%;
    background: url(./images/img-6.png) no-repeat center/cover;
}
.noneslide_li>a, .noneslide_li>p {
    position: absolute;
    text-align: center;
}
.noneslide_li>a {
    top : 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid white;
    color : white;
    font-weight: 800;
    padding : 2%;
}
.noneslide_li>p {
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    color : white;
    font-weight: 900;
    letter-spacing: 4px;
    width: 100%;
    text-align: center;
}
#projectNextbtn, #projectPrevbtn {
    position: absolute;
    top : 320px;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: 900;
    background-color: black;
    color : white;
    cursor: pointer;
    display: inline;
}
#projectNextbtn:hover, #projectPrevbtn:hover {
    background-color: orange;
    transition: all 0.5s;
}
#projectNextbtn {
    right : 8em;
}
#projectPrevbtn {
    left : 8em;
}

/* Clients Part */
#clients {
    margin-inline: auto;
    position: relative;
    width: 100%;
    height: 750px;
    overflow: hidden;
}
.li__title {
    font-size: 34px;
    margin-bottom: 30px;
    text-align: center;
}
.li__subtitle {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 80px;
}
.clientsUL {
    position: absolute;
    width: 100%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clientsUL.active {
    transition: left 0.7s;
}
.li__img1box, .li__img2box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    border: 1px solid black;
    height: 150px;
}
.li__img1box {
    top : 200px;
}
.li__img2box {
    right : 60px;
    top : 400px;
}
.clientBox__right {
    padding : 20px;
}
.li__squares {
    position: absolute;
    top : 60%;
    left: 17%;
}
.li__sqaure {
    width: 30px;
    height: 30px;
    background-color: rgb(122, 122, 106);
    border-radius: 50%;
    float: left;
    margin : 5px;
    cursor: pointer;
}
.li__sqaure.active {
    background-color: yellowgreen;
}
.forMoving {
    width: 70%;
    position: relative;
    margin : 0 auto;
}
.clientsLi {
    position: absolute;
    float : left;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

/* Contact Part */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/bg-1.png);
    padding : 4%;
}
.contact__div {
    width: 70%;
}
.contact--title {
    font-size: 42px;
    color : white;
    font-weight: 300;
}
.contact--formImage {
    display: flex;
    padding : 5% 0;
}
.formImage--form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 30px;
}
.formImage--form input {
    display: flex;
    border-radius: 8px;
    border: none;
    height: 18%;
    font-size: 24px;
    padding-left: 15px;
    color : rgb(171, 168, 168);
}
.formImage--img {
    width: 50%;
    border-radius: 8px;
}
.contact__left--btn {
    width: 20%;
    height: 50px;
    color :var(--gray);
    background-color: transparent;
    border: 1px solid white;
    font-size: 24px;
    cursor: pointer;
}

/* Subscribe Part */
#subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292929;
}
.subscribe__div {
    width: 71%;
    padding : 3%;
}

.subsucribe__titleContentbox {
    display: flex;
    justify-content: space-between;
}
.titleContent {
    width: 23%;
    color : white;
}
.titleContent:first-child h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 60px;
    padding-top: 0;
}
.titleContent--title {
    font-size: 28px;
    margin-bottom: 40px;
    padding-top: 10px;
}
.subscribe__sign {
    display: flex;
    float :right;
    margin-bottom: 50px;
}
.subscribe__sign input {
    background-color: transparent;
    width: 250px;
    height: 50px;
    border: none;
    font-size: 24px;
    border-bottom: 1px solid white;
}
.subscribe__sign button {
    border: none;
    border-bottom: 1px solid white;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 5px;
    cursor: pointer;
}

/* Footer Part */
#footer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__messenger {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 28px;
}
.footer__messenger i {
    z-index: 2;
    margin: 0 5px;
}
.footer__rights {
    margin: 20px 0;
    font-weight: 300;
}
#gotoTop--arrow {
    position: fixed;
    bottom : 50px;
    right : 50px;
    font-size: 28px;
    background-color: orange;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.7s ease-out;
}
#gotoTop--arrow.active {
    opacity: 1;
    pointer-events: auto;
    transition: 0.7s ease-out;
}



/* Reponsive Part */
@media screen and (max-width:1270px) {
    #nav {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .nav__call, #nav__find, .nav__login {
        display: none;
    }
    .nav__ul {
        height: 0%;
        display: none;
    }
    #nav__bar {
        position: absolute;
        display: block;
        font-size: 24px;
        top : 25px;
        right: 30px;
    }
    .nav__ul.active {
        visibility: visible;
        display: flex;
        flex-direction: column;
        margin : 0;
        text-align: center;
        width: 100%;
        transition: all 0.7s;
    }
    .nav__ul a {
        height: 25px;
    }
    .nav__ul a:hover {
        margin: 2px 2px;
        background-color: orange;
    }
    .nav__ul li {
        margin-left: 0;
    }
    .nav__ul li:hover {
        background-color: orange;
    }
    .slide-show--container {
        margin-top: 50px;
    }
    #prevBtn, #nextBtn {
        display: none;
    }
    .slideShow__contact {
        margin-top: 50px;
    }
    #projectNextbtn, #projectPrevbtn {
        display: none;
    }
    .slide__ul {
        display: none;
    }
    .noneslide_ul {
        display: flex;
    }
    .li__img1box, .li__img2box {
        left:50%;
        transform: translateX(-50%);
    }
    
    .subsucribe__titleContentbox {
        flex-wrap: wrap;
    }
    .titleContent {
        width: 40%;
    }
    .projects__slide-show {
        margin : 60px;
        margin-inline: 0;
        width: 100%;
        height: 1000px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; 
    }
    #clients {
        height: 70%;
        flex-direction: column;
    }
    .clientsUL {
        height: 100%;
    }
    .clientsLi {
        height: 100%;
    }
    .li__squares {
        position: absolute;
        top : 130px;
        left : 50%;
        transform: translateX(-50%);
    }
}



@media screen and (max-width:768px) {
    .slideShow__title {
        margin-top: 0;
    }
    .slideShow__contact {
        margin-top: 30px;
    }
    .services__boxes {
        flex-wrap: wrap;
    }
    .services__boxes>.box {
        width: 40%;
        text-align: center;
    }
    .box--read-more {
        margin-bottom: 50px;
    }
    #about {
        height: 100%;
        padding : 10%;
    }
    .about__container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .about__left {
        width: 90%;
    }
    .left__btn {
        margin-top: 20px;
    }
    .about__right {
        margin-top: 20px;
        width: 90%;
    }
    .furnitures__boxes {
        flex-direction: column;
    }
    .box__left, .box__right {
        width: 100%;
    }
    .box__right {
        margin-top: 50px;
    }
    .li__img1box, .li__img2box {
        width: 100%;
    }
    .contact--formImage {
        flex-direction: column;
    }
    .formImage--form {
        width: 100%;
        padding : 0;
        margin-bottom: 10px;
    }
    .formImage--form input {
        margin-bottom: 5px;
    }
    .formImage--img {
        width: 100%;
    }
    .contact__left--btn {
        width: 35%;
    }
    .titleContent {
        width: 60%;
    }
    .titleContent:first-child h1 {
        margin-bottom: 20px;
    }
    .titleContent--title {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .subscribe__sign {
        display: flex;
        float : none;
        margin: 50px 0 10px;
    }
    #gotoTop--arrow {
        bottom: 25px;
        right: 25px;
    }

}
@media screen and (max-width:660px) {
    .li__img1box p, .li__img2box p {
        display: none;
    }
    .li__squares {
        top : 150px;
    }
}
@media screen and (max-width:480px) {
    .services__subtitle {
        width: 90%;
        text-align: center;
    }

    .services__boxes>.box {
        width: 60%;
    }
    .projects__subtitle {
        text-align: center;
    }
    .furnitures__subtitle {
        text-align: center;
    }
    .subscribe__sign input, .subscribe__sign button {
        font-size: 16px;
    }
    .footer__rights {
        text-align: center;
    }
    .li__img1box {
        top : 250px;
    }
    .li__img2box {
        top : 450px;
    }
    .li__squares {
        top : 190px;
    }
    .services__boxes>.box {
        width: 70%;
    }
}